$background: #222831;
$primary: #393E46;
$secondary: #00ADB5;
$font: #EEEEEE;


$font-size-base: 16px;
$font-size-sm: 14px;
$font-size-lg: 18px;
$font-size-h1: 48px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-h4: 20px;
