@use '../../styles/variables' as *;
.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.5rem;
  background: $primary;
  border-radius: 16px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 40px auto;
  color: $font;
}

.title {
  font-size: 1vw;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.description {
  font-size: 1.1vw;
  max-width: 950px;
  margin-bottom: 1rem;
  line-height: 1.6;
}